# NexusTopup - Apache Config
Options -Indexes

# Protect data directory
<FilesMatch "\.(json)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Allow PHP files
<FilesMatch "\.(php)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
